{% extends 'base.html' %} {% load static %} {% block page_title %} Tales Of Combat {% endblock %} {% block content %}

<div class="row">
    <div class="col-12 text-center">
        <h1 class="overall-title">Tales Of Combat</h1>
    </div>
</div>

<div class="row text-center">
    <div class="col-6">
        <h3>Start New Game?</h3>
        <a href="{% url 'new_game' %}">
            <img src="{% static 'img/orb-direction.png' %}" alt="New Game" class="img-fluid img-button">
            </a>
    </div>
    <div class="col-6">
        <h3>Load Game?</h3>
        <p>Button</p>
    </div>
</div>


{% endblock %}