{% extends 'base.html' %} {% load static %} {% load crispy_forms_tags %} {% block page_title %} ToC - New Player
{% endblock %} {% block content %}

<div class="row">
    <div class="col-12 text-center">
        <h1 class="overall-title">New Player</h1>
        <a class="btn btn-warning" href="{% url 'new_game' %}" role="button" aria-disabled="false">Back?</a>
    </div>
</div>

<form role="form" method="post" id="new player" action="{% url 'new_player' %}">
    <div class="form-group">
        {% csrf_token %}
        <p>Choose Your Name And Race</p>
        <div class="form-row">
            <div class="form-group col-md-6 mb-0">
                {{ player_form.name|as_crispy_field }}
            </div>
            <div class="form-group col-md-6 mb-0">
                {{ player_form.race|as_crispy_field }}
            </div>
        </div>
        <br>
        <h4 class="text-center">Spend Your Stat Points</h4>
           
        <p>Current Points = 100</p>
        <div class="form-row">
            <div class="form-group col-md-2 mb-0">
                {{ player_form.power|as_crispy_field }}
            </div>
            <div class="form-group col-md-2 mb-0">
                {{ player_form.defence|as_crispy_field }}
            </div>
            <div class="form-group col-md-2 mb-0">
                {{ player_form.social|as_crispy_field }}
            </div>
            <div class="form-group col-md-2 mb-0">
                {{ player_form.magik|as_crispy_field }}
            </div>
            <div class="form-group col-md-2 mb-0">
                {{ player_form.wisdom|as_crispy_field }}
            </div>
            <div class="form-group col-md-2 mb-0">
                {{ player_form.dex|as_crispy_field }}
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <input class="btn btn-success" id="submit_player" name="commit" type="submit" value="Add Player">
            </div>
        </div>
        <br>
    </div>
</form>


{% endblock %}