{% extends 'base.html' %} 
{% block page_title %}Password Reset Page{% endblock %}
{% block page_heading %}Password Reset{% endblock %} 

{% block content %}
<div class="container">
    <h3>Reset Your Password</h3>
    {% if validlink %}
    <h4>Please enter your new password twice to confirm changes</h4>
    <br>

    <!--===== Password reset form =====-->
    <form action="" method="POST" class="form-horizontal">
        <div style="display:none">
            <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
        </div>
        <table>
            <tr>
                <td>{{ form.new_password1.errors }}
                    <label for="id_new_password1">New password:</label></td>
                <td>{{ form.new_password1 }}</td>
            </tr>
            <tr>
                <td>{{ form.new_password2.errors }}
                    <label for="id_new_password2">Confirm password:</label></td>
                <td>{{ form.new_password2 }}</td>
            </tr>
        </table>
        <br>
        <input class='btn btn-success cart-add' type="submit" value="Change my password" /></td>
    </form>
    {% else %}
    <h2>Password reset unsuccessful!</h2>
    <h4>The password reset link is invalid, this may be due to it being used.</br>Feel free to use the button to below to request another reset link</h4>
    <a class="roster-link" href="{% url 'password_reset' %}">Reset Password</a> {% endif %}
</div>
</form>

{% endblock %}
