/* Fonts */


@import url('https://fonts.googleapis.com/css?family=Exo:200,500,800&display=swap');


/* Backgrounds */


.bg {
    background-color: #311F18;
    height: 100%;
    font-family: 'Exo', sans-serif;
    color: #ebd8cd
}


/* NavBar */


.nav-bg {
    background-color: #2d2b0e;
}

.nav-bg a {
    color: #f4f4f4;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}


.nav-bg a:hover {
    color: #A73B51
}

.navbar-toggler {
    outline: none;
}


/* Setup */


.current-player-name a{
    font-size: 1.4rem;
    color: #f4f4f4;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.current-player-name a:hover {
    color: #a73b51;
    text-decoration: none;
}

.name-display {
    font-size: 2rem;
}

.race-display {
    font-size: 1.25rem;
    font-weight: 200;
}

.stat-kay {
    font-weight: 200;
}

.stat-display {
    color: #fafafa;
    font-weight: 500;
}


/* Icons */


.img-button {
    height: 150px;
    width: 150px;
}


/* Class Helpers */
